DB_NAME=abc
DB_USER=postgres
DB_PASSWORD=1111
DB_HOST=127.0.0.1
DB_PORT=5432

EMAIL_HOST_USER = 'example@gmail.com'
EMAIL_HOST_PASSWORD = 'wkrm dmun lkeh qeai' # app password from google app
DEFAULT_FROM_EMAIL = 'example@gmail.com'